@import "~react-toolbox/lib/list/theme";

.books {
    width: 90%;
    margin: 0 auto;
}
.itemContentRoot{
    max-width: 50%;
}
.itemText {
    max-width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
}
